<div class="prayer-times-page" dir="rtl">
    <div class="container">
        <div class="developer-section card glass-effect fade-in-up">

            <div class="dev-avatar">
                <img src="https://firebasestorage.googleapis.com/v0/b/win98portfolio.appspot.com/o/avatars%2Fimage%20(5).jpg?alt=media&token=e20cf15f-5d14-47b4-b74b-7d5551b0a583"
                    alt="Developer Image">
            </div>

            <div class="dev-info">
                <h2 class="dev-name">الحاجي</h2>
                <p class="dev-bio">
                    مبرمج مختص في تطوير الويب ، شغوف بابتكار واجهات احترافية
                    وتجارب مستخدم عالية الجودة.
                </p>

                <div class="dev-links">
                    <a href="https://win98portfolio.web.app/" target="_blank" class="dev-btn">
                        الموقع الشخصي
                    </a>
                    <a href="https://instagram.com/elh4jji" target="_blank" class="dev-btn insta">
                        حساب إنستغرام
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>